/* Наши особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  align-items: center;

  .features__item {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Иконки */
.features-icons-container {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
