.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}
