:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #ffffff;
    --highlight-color: #2196f3;
    --main-font: Roboto, sans-serif;
    --accent-font: Raleway, sans-serif;
  }